// w3bkit variables
// -- defines variables to configurate the framework

@use 'sass:map';

// prefix for CSS :root variables

$prefix: w3b;

// options

$provide-fonts: true;
$provide-colors-gray: true;
$provide-colors-theme: true;
$provide-colors-messages: true;

// color system

$colors: (
    'basics': (
        'white': #ffffff,
        'black': #000000,
    ),
    'gray': (
        '1': color-shade(#fff, 88.4%),
        '2': color-shade(#fff, 80%),
        '3': color-shade(#fff, 70%),
        '4': color-shade(#fff, 60%),
        '5': color-shade(#fff, 50%),
        '6': color-shade(#fff, 40%),
        '7': color-shade(#fff, 30%),
        '8': color-shade(#fff, 20%),
        '9': color-shade(#fff, 10%),
    ),
    'theme': (
        'primary':   #77f,
        'secundary': #0cf,
        'accent':    #ff7,
    ),
    'messages': (
        'emergency': color-tint(#f00, 20%),
        'alert':     color-tint(#f00, 30%),
        'critical':  color-tint(#f00, 40%),
        'error':     color-tint(#f00, 50%),
        'warning': #ff7,
        'notice':  #0f7,
        'info':    #0f7,
        'debug':   #bbb,
    ),
);

// typography - fonts

$fonts: (
    'sans-serif': "'Segoe UI', Tahoma, Verdana, sans-serif",
    'mono-space': "'Liberation Mono', 'Courier New', monospace",
);

$font-sizes: (
    'base': 1rem,
    'headings': (
        'h1': 2.25em,
        'h2': 1.80em,
        'h3': 1.58em,
        'h4': 1.35em,
        'h5': 1.13em,
        'h6': 1.00em,
    ),
    'displays': (
        'd1': 6.90em,
        'd2': 6.36em,
        'd3': 5.20em,
        'd4': 4.05em,
    ),
);

$font-weights: (
    'base': 400,
    'headings': 500,
    'displays': 300,
);

// typography - headings

$headings-margin-bottom: .5rem;

// typography - displays

$displays-margin-bottom: .5rem;

// typography - borders

$border-widths: (
    '0': 0,
    '1': 1px,
    '2': 2px,
    '3': 3px,
    '4': 4px,
    '5': 5px,
    '10': 10px,
    '15': 15px,
    '20': 20px,
);

$border-styles: (
    'dotted': dotted,
    'dashed': dashed,
    'solid': solid,
    'double': double,
    'groove': groove,
    'ridge': ridge,
    'inset': inset,
    'outset': outset,
    'none': none,
    'hidden': hidden,
);

// typography - spacing

$spacer-base: 1rem;
$spacer-factors: (
    '0': 0.00,
    '1': 0.25,
    '2': 0.50,
    '3': 1.00,
    '4': 1.50,
    '5': 2.00,
);

// typography - table

$table: (
    'padding': 15px,
);

// containers

$container-padding: 30px;
$container-margin-bottom: 1rem;

// containers - columns

$columns: 12;

// containers - breakpoints

$breakpoints: (
    'xs': 360px,
    'sm': 375px,
    'md': 768px,
    'lg': 812px,
    'xl': 1024px,
);

