<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!--<link rel='stylesheet' type='text/css' href='https://artlabs.github.io/cdn/w3b.min.css'>-->
        <link rel='stylesheet' type='text/css' href='../../design/css/w3b.css'>
    </head>
    <body>
        <!-- HTML headings -->
        <h1>h1 w3bkit heading</h1>
        <h2>h2 w3bkit heading</h2>
        <h3>h3 w3bkit heading</h3>
        <h4>h4 w3bkit heading</h4>
        <h5>h5 w3bkit heading</h5>
        <h6>h6 w3bkit heading</h6>

        <!-- paragraphs, used as headings -->
        <p class='h1'>p.h1 w3bkit heading</p>
        <p class='h2'>p.h2 w3bkit heading</p>
        <p class='h3'>p.h3 w3bkit heading</p>
        <p class='h4'>p.h4 w3bkit heading</p>
        <p class='h5'>p.h5 w3bkit heading</p>
        <p class='h6'>p.h6 w3bkit heading</p>

        <!-- displays -->
        <p class='d1'>p.d1 w3bkit display</p>
        <p class='d2'>p.d2 w3bkit display</p>
        <p class='d3'>p.d3 w3bkit display</p>
        <p class='d4'>p.d4 w3bkit display</p>

        <table class="table">
            <caption>demo table</caption>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
            </tr>
            <tr>
                <td>asdf</td>
                <td>asdf</td>
                <td>asdf</td>
                <td>asdf</td>
            </tr>
            <tr>
                <td>asdf</td>
                <td>asdf</td>
                <td>asdf</td>
                <td>asdf</td>
            </tr>
            <tr>
                <td>asdf</td>
                <td>asdf</td>
                <td>asdf</td>
                <td>asdf</td>
            </tr>
        </table>

    </body>
</html>

