// w3bkit fonts

html { font-family: 'sans-serif'; }

body {
    font-family: unquote(map-get($fonts, 'sans-serif'));
    font-size: map-get($font-sizes, 'base');
    font-weight: map-get($font-weights, 'base');
}
